/target/                                                                                                            
/documentation/
*.db                                                                                                                
eva_keys/                                                                                                      
eva_ratchet_sessions/  
/scritps/
# Desktop UI build outputs
/desktop-ui/dist/
/desktop-ui/dist-electron/
/desktop-ui/build/
/desktop-ui/node_modules/
